<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <title>Watched Movies</title>
  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-app="watchedMovies" ng-controller="IndexCtrl as ul" layout="row">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <h1>Movies</h1>
    </md-toolbar>
    <md-content flex>
      <md-list>
        <md-list-item ng-repeat="it in ul.movies">
          <md-button ng-click="ul.selectMovie(it)" aria-label="{{it.name}}" ng-class="{'selected' : it === ul.selected }">
            <md-icon md-svg-src="{{ul.getIcon(it)}}"></md-icon>
            <a href="#/movie/{{it.name}}" target="_self" ng-bind="it.name"></a>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Movie List">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h1>Watched Movies</h1>
    </md-toolbar>

    <md-content flex id="content">
      <div ng-if="ul.selected">
      <h1>{{ul.selected.name}}</h1>
      <h2>Rating: {{ul.selected.rating}}, Score: {{ul.selected.score}}</h2>
      <h3>{{ul.selected.genre}}</h3>
      <p>Cast: {{ul.selected.cast}}</p>
      <p><strong>Summary:</strong><br />{{ul.selected.summary}}</p>
      <iframe  ng-src="{{ul.selectedUrl}}" style="width:100%;height:500px;"></iframe>
      </div>
    </md-content>

    <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="ul.showAddDialog($event)">
      ADD
    </md-button>
    <md-button class="md-accent md-fab md-fab-top-right">
      <a ng-href="#/">ALL</a>
    </md-button>
  </div>


  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) scripts/scripts.js -->
  <script src="app.js"></script>
  <script src="controllers/index.js"></script>
  <script src="controllers/add-watched-movie.js"></script>
  <script src="services/metacritic-api.js"></script>
  <script src="services/movie.js"></script>
  <!-- endbuild -->
</body>

</html>
