<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <title>Watched Movies</title>
  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-app="watchedMovies" ng-controller="IndexCtrl as ctrl" layout="row">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <loader></loader>
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar layout="row" class="md-whiteframe-z1">
      <h3 ng-bind="ctrl.title"></h3>
    </md-toolbar>
    <md-content flex>
      <div ng-show="ctrl.listIsEmpty()">
        <p>Your list is empty!</p>
      </div>
      <div layout="row" ng-if="!ctrl.movies" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
      </div>
      <md-list>
        <md-list-item ng-repeat="it in ctrl.movies">
          <md-button aria-label="{{it.name}}" ng-class="{'selected' : it === ctrl.selected }">
            <md-icon md-svg-src="{{ctrl.getIcon(it)}}"></md-icon>
            <a href="#/{{ctrl.collection}}/{{it.name}}" target="_self" ng-bind="it.name"></a>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="ctrl.toggleList()" aria-label="Show Movie List">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h3>Watched Movies(<span ng-bind="ctrl.user.display_name || ctrl.user.username">...</span>)</h3>
    </md-toolbar>

    <md-content flex id="content">
      <div class="user-toolbar">
        <md-fab-toolbar md-open="false" count="6" ng-class="md-right">
          <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
              <md-icon>
                <gravatar-image data-gravatar-email="ctrl.user.email" data-gravatar-default="mm" data-gravatar-size="56" data-gravatar-rating="pg" data-gravatar-default="identicon" data-gravatar-secure="true" data-gravatar-css-class="md-avatar"></gravatar-image>
              </md-icon>
            </md-button>
          </md-fab-trigger>
          <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
              <md-button ng-href="#/watched/*" target="_self" aria-label="My watched movies" class="md-icon-button">
                <md-icon md-svg-src="styles/svg/watched.svg"></md-icon>
                <md-tooltip md-direction="middle">My watched movies</md-tooltip>
              </md-button>
              <md-button ng-href="#/reviewed/*" target="_self" aria-label="My review list" class="md-icon-button">
                <md-icon md-svg-src="styles/svg/review.svg"></md-icon>
                <md-tooltip md-direction="middle">My review list</md-tooltip>
              </md-button>
              <md-button ng-href="#/newReleases/*" target="_self" aria-label="New releases" class="md-icon-button">
                <md-icon md-svg-src="styles/svg/new-releases.svg"></md-icon>
                <md-tooltip md-direction="middle">New releases</md-tooltip>
              </md-button>
              <md-button ng-href="#/comingSoon/*" target="_self" aria-label="Comming soon" class="md-icon-button">
                <md-icon md-svg-src="styles/svg/comming-soon.svg"></md-icon>
                <md-tooltip md-direction="middle">Comming soon</md-tooltip>
              </md-button>
              <md-button ng-href="#/lastYear/*" target="_self" aria-label="Last year" class="md-icon-button">
                <md-icon md-svg-src="styles/svg/last-year.svg"></md-icon>
                <md-tooltip md-direction="middle">Last year</md-tooltip>
              </md-button>
              <md-button ng-href="#/lastDecade/*" target="_self" aria-label="Last decade" class="md-icon-button">
                <md-icon md-svg-src="styles/svg/last-decade.svg"></md-icon>
                <md-tooltip md-direction="middle">Last decade</md-tooltip>
              </md-button>
              <md-button ng-href="/auth/logout" target="_self" aria-label="Logout" class="md-icon-button">
                <md-icon md-svg-src="styles/svg/logout.svg"></md-icon>
                <md-tooltip md-direction="middle">Logout</md-tooltip>
              </md-button>
            </md-fab-actions>
          </md-toolbar>
        </md-fab-toolbar>
      </div>
      <div ui-view layout="row" flex></div>
    </md-content>

    <md-button class="md-accent md-fab md-fab-bottom-right" ng-disabled="!ctrl.reviewEnabled" ng-click="ctrl.showReviewDialog($event)">
      <md-icon md-svg-src="styles/svg/review.svg"></md-icon>
      <md-tooltip md-direction="middle">Your review</md-tooltip>
    </md-button>
  </div>


  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <!-- endbower -->
  <script src="vendor/angularjs-gravatardirective/angularjs-gravatardirective.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) scripts/scripts.js -->
  <script src="app.js"></script>
  <script src="controllers/index.js"></script>
  <script src="controllers/movie.js"></script>
  <script src="controllers/add-watched-movie.js"></script>
  <script src="directives/loader.js"></script>
  <script src="services/http-interceptor.js"></script>
  <script src="services/auth-interceptor.js"></script>
  <script src="services/metacritic-api.js"></script>
  <script src="services/auth.js"></script>
  <script src="services/movie.js"></script>
  <!-- endbuild -->
</body>

</html>
