{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Please sign in{% endblock %}

{% block content %}
<style type="text/css">
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.container>.signin-container {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
</style>
<div class="container">
  <div class="signin-container">
  <h2 class="form-signin-heading">Please sign in</h2>
  {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}