<md-dialog class="add-watched-movie" ng-controller="AddWatchedMovieCtrl as vm" aria-label="New Movie Review">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Movie Review</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="styles/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <md-checkbox ng-model="vm.movieReview.watched" aria-label="Checkbox 2" class="md-warn md-align-top-left">
          Have you watched it?({{ !!vm.movieReview.watched ? 'yup' : 'nope' }})
        </md-checkbox>

        <md-input-container flex>
          <label>You review on this</label>
          <textarea ng-model="vm.movieReview.review" columns="1" md-maxlength="150"></textarea>
        </md-input-container>

        <md-select placeholder="Rate" ng-model="vm.movieReview.rate">
          <md-option ng-repeat="rate in [1,2,3,4,5]" value="{{rate}}">{{rate}}</md-option>
        </md-select>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="vm.cancel()" class="md-primary">
        Cancel
      </md-button>
      <md-button ng-click="vm.add()" class="md-primary">
        {{vm.newReview() ? 'Add' : 'Update'}}
      </md-button>
      <md-button ng-click="vm.delete()" ng-if="!vm.newReview()" class="md-primary">
        Delete
      </md-button>
    </div>
  </form>
</md-dialog>
